<table border="0" width="100%">
  <tr>
    <td colspan="2" align="center">
      <h2>Join to Chat</h2>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div id="chat_box">
        <table width="100%" border="1" valign="bottom" height="100%">
          
        </table>
      </div>
    </td>
  </tr>
  <tr>
  <%= form_for :chat, :url => chat_index_path, :remote =>true  do |f| %>
    <td width="85%">
      <%= f.text_area :message %>
    </td>
    <td style="text-align:center;font-size: 15px;">
      <%= f.submit :value => 'Send', :id => 'submit' %></br>
      <div style="margin-top:10px;"> <%= @chatter %></div>
    </td>
  <% end %>
  </tr>
</table>